.nmtis-banner {

	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #adff00;
	text-align: left;
	padding: 1rem;
	font-family: 'Saira', sans-serif;
}

footer {
	position: fixed;
	background-color: #363636;
	color: #c2ff00;
	text-align: center;
	font-family: 'Saira', sans-serif;
}

.form {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

#submit-button {
	font-family: 'Saira', sans-serif;
	background: #c2ff00;
	color: #ffffff;
	border-style: outset;
	border-color: #006ca2;
	height: 100px;
	width: 100px;
	text-shadow:none;
}

.name {
	color: #9092a2;
}

#demo {
	font-family: 'Saira', sans-serif;
}

label {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

p {
	color: aliceblue;
	font-family: 'Saira', sans-serif;
}

li {
	color: aliceblue;
	font-family: 'Saira', sans-serif;
}

#background {
	background-image: url("img/nmtis-background.jpg");
}
