head {
	font-family: 'Ubuntu', sans-serif;
}

section {
	text-align: center;
}

body .center {
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
}

h5 {
	font-family: 'Ubuntu', sans-serif;
}

section > div {
	display: flex;
	justify-items: flex-start;
	align-content: space-around;
}

section > div > img {
	padding: 10px;
	margin: 10px;
}

.center {
	font-family: 'Ubuntu', sans-serif;
}