#background-image {
	background-image: url("../img/background-long.jpg");
	background-size: 100em;
	background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
	background-attachment: fixed;
}

.form {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

#submit-button {
	font-family: 'Saira', sans-serif;
	background: #c2ff00;
	color: #000000;
	height: 50px;
	width: 75px;
	margin-top: 5px;
	text-shadow:none;
}

h1, h2, h3, h4, h5, h6	{
	color: #adff00;
	text-align: left;
	font-family: 'Saira', sans-serif;
}

label {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

p {
	color: aliceblue;
	font-family: 'Saira', sans-serif;
	text-align: left;
	font-size: medium;
}

li {
	color: #ffffff;
	font-family: 'Saira', sans-serif;
}

#box-back, .box-back {
	background-color: rgba(0,0,0,.45);
	border-radius: 7px;
	padding: 1em;
}

footer, #footer {
	background-color: #373737;
}

#form-back {
	background-image: url("../img/background-long.jpg");
	background-size: 100vw;
	background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
	background-attachment: fixed;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .20em solid #6dff00; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	padding: 1vw;
	letter-spacing: .05em; /* Adjust as needed */
	animation:
		typing 3.5s steps(27, end),
		blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #6dff00; }
}

nav {
	font-family: 'Saira', sans-serif;
	color: #adff00;
	background-color: #373737;
}

input::placeholder {
	color: #adff00;
	font-family: 'Saira', sans-serif;
}

input, label {
	font-family: 'Saira', sans-serif;
	color: #adff00;
}

html, body {
	background: rgb(0,0,0);
	background-attachment: fixed;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 66%, rgba(55,55,55,1) 100%);
}

#output-area {
	font-family: 'Saira', sans-serif;
}
